<div class="break">


<div class="header">
    <span class="descriptionText" > Take a break and enjoy your tea or lunch!</span>
   </div>


<mat-dialog-content>
    <ul class="listItems">
        <li>
            <span class="descriptionText">Coffee</span>
            <mat-icon class="breakIcons"><span class="material-symbols-outlined">
                local_cafe
                </span></mat-icon>
        </li>
        <li>
            <span class="descriptionText">Lunch</span>
          <mat-icon class="breakIcons">
            <span class="material-symbols-outlined">
                lunch_dining
                </span>
          </mat-icon>
                
                
        </li>
    </ul>

  
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="'close'" class="warn">close</button>
</mat-dialog-actions>
</div>