span.mat-mdc-list-item-unscoped-content.mdc-list-item__primary-text {
  color: whitesmoke !important;
} 
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
 
.header {
  
 color:black
}
 
.sidenav-container {
  flex: 1;
}
 
.sidenav {
  width: 200px;
  background-color: #d75b2c;
  color:black
}
 
.content {
  padding: 16px;
  overflow: auto;
}
 
.footer {
 

  text-align: center;
  padding: 8px;
}
.spacer
{
  flex:1
}
.custom-card
{
  width:18%;
  margin:10px;
  display: inline-block;
}
mat-list-item{
  padding-top: 31px !important;
}
.body
{
  margin: 0;
  padding-top: 20px;
}

.settings
{
  font-size: 26px;
    margin-left: 8px;
    cursor: pointer;
}

